  .text-container {
    border: dotted white .2rem;
    color: white;
    margin: auto;
    margin-left: 2%;
    width: 56%;
/*     height: 80vh;
    margin: 4rem 1rem;
    padding: 1rem; */
  }
  
  .text-wrapper {
    border: dotted white .2rem;
    margin: .5rem;
    padding: .5rem;
  }
  
  .text-header {
    font-size: 4rem;
    font-weight: 700;
  }
  
  .text-paragraph1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
  }

  
  
  .box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  } 