  .text-container {
    border: dotted white .2rem;
    color: white;
    margin: auto;
    margin-left: 2%;
    width: 40%;
    margin: auto;
    padding: 2rem;
  }
  
  .text-wrapper {
    border: dotted white .2rem;
    margin: .5rem;
    padding: .5rem;
  }
  
  .text-header {
    font-size: 3.5rem;
    font-weight: 700;
  }
  
  .text-paragraph1 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
  }

  
  
  .box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  } 


  /* Media Queries */
  @media screen and (max-width: 1024px) {
    .text-container {
      text-align: center;
      width: 88%;
      margin-top: 3rem;
      margin-bottom: 3rem;
  }

    .text-header {
      font-size: 5rem;
    }

    .text-paragraph1 {
      font-size: 2rem;
    }
  }
  


  @media screen and (max-width: 768px) {
    .text-header {
      font-size: 4rem;
    }

    .text-paragraph1 {
      font-size: 1.7rem;
    } 

    .form-pricing-paragraph1 {
      font-size: 2.4rem;
    }
  }