  .form-component-container{
    border: white dotted .3rem;
    margin: auto;
    width: 50%;
    height: 80%;
    /* margin-top: 10rem; */
    /* margin-left: 25rem; */
    /* margin-bottom: 13rem; */
  }

  
  .form-pricing-paragraph1 {
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background-color: #5C55A5;
    border-radius: .5rem;
    padding: 1rem;
    width: 67.5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 6px -6px #065446;
  }
  
  .form-component-wrapper{
    background-color: white;
    border-radius: .5rem;
    padding: 3rem;
    margin-bottom: 3rem;
    width: 60%;
    height: 66%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 6px -6px #065446;
  }
  
  .form-component-group {
    font-size: 1.2rem;
    background-color: white;
    border-radius: .4rem;
    margin: .5rem;
    padding: .8rem;
    width: 94%;
    height: 2rem;
    border: solid .01rem #979797;
  }
  
  .form-component-button1-wrapper{
    background-color: white;
  }
  
  .form-component-button{
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
    background-color: #65CD8B;
    border: solid #65CD8B;
    height: 3.5rem;
    margin-top: 2rem;
    margin-left: .5rem;
    width: 97%;
    border-radius: .4rem;
    outline: none;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px #065446;
  }
  
  .form-component-parragraph2 {
    background-color: white;
    color: #979797;
    font-size: .7rem;
    text-align: center;
    margin-top: 3rem;
  }
  
  .form-component-link1 {
    color: #F07577;;
    font-weight: 800;
  }  


